.btn {
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5rem, 1rem;
    color: var(--clr-accent);
    background-color: var(--clr-rgba);
    border: 10px solid var(--clr-accent);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    animation: btn 1s ease 0s 1 normal both;
    transform: translateY(10px);
    background-color: var(--clr-accent);
    color: var(--clr-rgba);
}

@keyframes btn {
    from {
        transform: skewX(0px);
    }
    to {
        transform: skewX(10px);
    }
}