input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0 0.5rem 0; 
    border: None;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    font-weight: bolder;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    outline: none;
    border: 2px solid var(--clr-accent);
}

label {
    display: block; 
    margin: 0.5rem 0; 
    color: var(--clr-accent); 
    font-weight: bold; 
    font-size: 1rem;
    text-align: left; 
}

.btn {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.75rem 1rem;
    color: var(--clr-primary);
    background-color: var(--clr-white);
    border: None;
    border-radius: 5px;
    cursor: pointer;
    width: 33%;
    margin-top: 5rem; 
    transition: all 0.3s ease-in-out;
    position: relative; 
    overflow: hidden; 
}

.btn:hover {
    background-color: var(--clr-primary);
    color: var(--clr-white);
    animation: buttonHover 0.5s forwards; 
}

@keyframes buttonHover {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
